In [6]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrices import men_squared_error

ModuleNotFoundError: No module named 'sklearn.metrices'

In [7]:
hw= pd.read_csv("Height_Weight.csv")

hw.head()

   Height  Weight
0  121.92    28.0
1  124.46    28.1
2  127.00    28.2
3  129.54    28.3
4  132.08    28.4

In [8]:
hw.tail()

    Height  Weight
30  198.12    94.8
31  200.66    97.5
32  203.20    99.8
33  205.00   102.5
34  208.00   104.8

In [9]:
hw.shape

(35, 2)

In [10]:
#split the data into training/testing sets
hw_X_train= hw.Height[0:30]
hw_X_test= hw.Height[30:34]

#Split the target into training/testing sets
hw_Y_train= hw.Weight[0:30]
hw_Y_test= hw.Weight[30:34]

print(hw_X_test)
print(hw_Y_test)

30    198.12
31    200.66
32    203.20
33    205.00
Name: Height, dtype: float64
30     94.8
31     97.5
32     99.8
33    102.5
Name: Weight, dtype: float64

In [11]:
#reshape

hw_X_train= np.array(hw.Height[0:30]).reshape(-1,1)
hw_X_test= np.array(hw.Height[30:34]).reshape(-1,1)
hw_Y_train= np.array(hw.Weight[0:30]).reshape(-1,1)
hw_Y_test= np.array(hw.Weight[30:34]).reshape(-1,1)

hw_X_test, hw_Y_test

(array([[198.12],
        [200.66],
        [203.2 ],
        [205.  ]]),
 array([[ 94.8],
        [ 97.5],
        [ 99.8],
        [102.5]]))

In [12]:
#Create the linear regression using the training sets
regr= linear_model.LinearRegression()

In [13]:
#Train the model using the training sets
regr.fit(hw_X_train,hw_Y_train)

LinearRegression()

In [14]:
#Make predictions using the sets
hw_Y_pred= regr.predict(hw_X_test)

In [15]:
#The coefficients
print('coefficients: \n',regr.coef_)
#Intercept
print('Intercept:\n',regr.intercept_)

coefficients:
 [[0.94962031]]
Intercept:
 [-94.12222469]

In [16]:
#Our remaining value
hw.tail(1)

    Height  Weight
34   208.0   104.8